uvicorn
fastapi
pydantic
google-auth
google-cloud-storage
google-cloud-bigquery
google-cloud-bigquery-storage
google-cloud-aiplatform
google-cloud-firestore
google-cloud-pubsub
pandas
vertexai
loguru
google-cloud-secret-manager
rembg[cpu]
pillow
numpy
onnxruntime
transparent-background
opencv-python-headless
